<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Uz Cafe</title>
</head>
<body>
    <h1>Hello World</h1>
    <div id="app">

<div v-if="showAge">
    <h1>{{age}}</h1>
</div>
        <button @click="showOrHideAge">
        <span v-if="!showAge">Show Age</span>
        <span v-if="showAge">Hidden Age</span>
        </button>
<div v-show="showAge">
    hello
</div>

    </div>
    
   <script src="./main.js"></script> 
</body>
</html>